body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background: rgb(30, 30, 30);
}

.wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.left-panel {
    width: 280px;
}

.right-panel {
    width: 500px;
}

input,
textarea,
button {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
    color: rgb(46, 147, 4);
    background-color: #d4d4d4;
    border: 1px solid #555555;
}

button {
    height: 45px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(46, 147, 4);
    background-color: #3a3a3a;
}

#message {
    height: 80px;
}

#response {
    height: 580px;
    width: 600px;
    resize: none;
    font-family: Consolas, monospace;
    background-color: #bdbdbd;
    border: 1px solid #444444;
}
.left-panel {
    width: 300px;
}

.right-panel {
    width: 600px;
}
h2, h3 {
    color: rgb(46, 147, 4);
}

label {
    color: rgb(46, 147, 4);
}
.spacer {
    height: 50px;
}